{
  "extends": [
    "standard",
    "prettier",
    "plugin:cypress/recommended"
  ],
  "plugins": [ "prettier", "cypress" ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "cypress/globals": true
  },
  "rules": {
    "space-before-function-paren": "off",
    "no-spaced-func": "off",
    "operator-linebreak": "off",
    "no-throw-literal": "off",
    "promise/avoid-new": "off"
  }
}
